@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root{
    --white: #fff;
    --black: #161623;
    --battery: #fff;
    --one: #fff;
    --two: #fff;
}
.light{
    --black: #fff;
    --white: #161623;
    --battery: #333;
    --one: #9c2cb1;
    --two: #fe3177;
}
*{
    transition: color 0.25s ease-in-out, background-color 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--black);
    overflow: hidden;
    z-index: 0;
}
section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -3;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-250px, -120px);
}
section::after{
    content: '';
    position: absolute;
    z-index: -3;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(250px, 120px);
}

/*battery*/
.battery-box{
    position: absolute;
    width: 240px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.battery-box h3{
    color: var(--one);
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.batteryShape{
    position: relative;
    width: 140px;
    height: 65px;
    margin: 20px 0;
    border: 3px solid var(--battery);
    border-radius: 10px;
}
.batteryShape::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    width: 7px;
    height: 16px;
    background: var(--battery);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.batteryShape::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.level{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.percentage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 4px;
    background: linear-gradient(90deg, #ffeb3b, #27ff00);
}
.percent{
    color: var(--two);
    font-size: 2em;
    font-weight: 700;
}
.clip{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.percent-inside{
    display: none;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    font-weight: 700;
}
.clip .percent-inside{
    color: #fff;
}
.toggle{
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--white);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle i{
    color: var(--black);
}
.fa-moon{
    display: none;
}
.light .fa-moon{
    display: block;
}
.light .fa-sun{
    display: none;
}
.light .percent-inside{
    color: #333;
}
.light .clip .percent-inside{
    color: #fff;
}
section.light::before{
    background: linear-gradient(#f3f5f5, #9c27b0);
}
section.light::after{
    background: linear-gradient(#ff2871, rgba(255,40,113,0.2));
}
section.light .percentage{
    background: linear-gradient(90deg, #9c28af, #fd2c72);
}





/*link*/
.contain::before{
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 50px);
    min-height: 100%;
    right: 0;
    z-index: 1;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.contain{
    display: flex;
    align-items: center;
    position: absolute;
    width: 10wh;
    height: 100vh;
    right: 0;
}

.containmobile{
	display: none;
	position: absolute;
    bottom: 0;
    width: 100vw;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-top:1px solid rgba(255,255,255,0.5);
    padding:5px;
}

section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    background: #ff359b;
    width: 600px;
    height: 600px;
}
section .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    background: #fffd87;
    width: 500px;
    height: 500px;
}
section .color:nth-child(3){
    bottom: -50px;
    right: 0;
    background: #00d2ff;
    width: 300px;
    height: 300px;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}
ul li a{
    position: relative;
    right: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--one);
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: 0;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    overflow: hidden;
    transition: right 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0.5s, 0.5s, 0s;
}
ul li a:hover{background:  var(--two);color: var(--black);}

/*calendar*/
.box{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dycalendar{
    width: 100%;
    padding: 20px;
}
#dycalendar table{
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}
#dycalendar table tr:nth-child(1) td{
    color: var(--two);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 4px;
    font-weight: 600;
}
#dycalendar table tr:nth-child(1) td:hover{
    background: var(--one);
    color: var(--black);
   
}
#dycalendar table td{
    color: var(--one);
    padding: 10px;
    cursor: pointer;
    transition: 350ms;
    border-radius: 4px;
}
#dycalendar table td:hover{
    background: var(--two);
    color: var(--black) !important;
}
.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date
{
    background: var(--one);
    color: var(--black) !important;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn, .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    color: var(--two);
    font-weight: 600;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    width: 44px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn {
    left: 4px;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn:hover, .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn:hover  {
    background: var(--one);
    color: var(--black);
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    right: 4px;
}
.dycalendar-month-container .dycalendar-span-month-year {
    color: var(--one);
    font-size: 1.5em;
    font-weight: 600;
}
.dycalendar-day-container .dycalendar-span-day, .dycalendar-day-container .dycalendar-span-month-year{
    color: var(--one);
    font-weight: 500;
}
.dycalendar-day-container .dycalendar-span-date{
    color: var(--two);
    font-weight: 700;
}

@media screen and (max-width:700px){
	.contain{display:none;}
	.containmobile{display:flex; align-items: center; justify-content: center;}
	.box{top:300px;}
	ul{flex-direction:row; align-items: center; justify-content: space-evenly; position: relative; width: 100%;}
	.container{width:250px; min-height: 250px;}
	#dycalendar{width:400px;}
	ul li a{width: 70px;height: 60px;border-radius:10px;  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));}
    .battery-box{top: 35px; height: 100px; width: 250px;}
    .battery-box h3{display: none;}
    .percent-inside{display: block;}
    .percent{display: none;}
    .i{color: var(--two);}
}

@media screen and (min-width:700px){
ul li a:hover{
    transition-delay: 0s, 0.5s, 0.5s;
    right: 50px;
    transform: translateX(50px);
    z-index: 11;
}
ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skew(45deg) translateX(150px);
    transition: 0.5s;
}
ul li a:hover::before{
    transform: skew(45deg) translateX(-150px);
}
.battery-box{
    left: 5%;
}
}